<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Sign in</div>
         <div style="float:right; font-size: 80%; position: relative; top:-10px">
            <%= link_to "Forgot password?", new_password_path(resource_name) %>
        </div>
    </div>

    <div style="padding-top:30px" class="panel-body">
        <%= flash_messages %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal', role: 'form') do |f| %>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "email" %>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "password" %>
            </div>

            <div class="input-group">
                <div class="checkbox">
                    <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %>
                        Remember me
                    <% end -%>
                </div>
            </div>

            <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                    <%= f.submit "Log in", class: "btn btn-success" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 control">
                    <div style="padding-top:15px; font-size:85%">
                        Don't  have an account
                        <%= link_to "Sign up here", sign_up_path %>
                    </div>
                </div>
            </div>
        <% end -%>
    </div>
</div>