<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to 'Dompetkoe', root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= icon("user", class: 'fa-fw') %> <%= current_user.full_name %> <%= icon("caret-down") %>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <%= link_to edit_user_path do %>
                        <%= icon("user", "User profile", class: 'fa-fw') %>
                    <% end -%>
                <li class="divider"></li>
                <li>
                    <%= link_to sign_out_path, method: :delete do %>
                        <%= icon("sign-out", "Logout", class: 'fa-fw') %>
                    <% end %>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <%= link_to root_path do %>
                        <%= icon("dashboard", "Dashboard", class: 'fa-fw') %>
                    <% end -%>
                </li>
                <li>
                    <%= link_to "#" do %>
                        <%= icon("calendar", "Records", class: 'fa-fw') %>
                    <% end -%>
                </li>
                <li>
                    <%= link_to "#" do %>
                        <%= icon("gear", "Setting", class: 'fa-fw') %>
                        <span class="fa arrow"></span>
                    <% end -%>
                    <ul class="nav nav-second-level">
                        <li>
                            <%= link_to "#" do %>
                                <%= icon("briefcase", "Accounts", class: 'fa-fw') %>
                            <% end -%>
                        </li>
                        <li>
                            <%= link_to "#" do %>
                                <%= icon("folder-open", "Categories", class: 'fa-fw') %>
                            <% end -%>
                        </li>
                    </ul>
                </li>
                <li>
                    <%= link_to "#" do %>
                        <%= icon("cloud-download", "Export", class: 'fa-fw') %>
                    <% end -%>
                </li>
            </ul>
        </div>
    </div>
</nav>