<% if flash.present? %>
    <script>
        $(document).ready(function () {
            $('.top-right').notify({
                type: "<%=  flash_notify 'type' %>",
                message: { text: "<%= flash_notify 'message' %>" }
            }).show();
        });
    </script>
<% end -%>