<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Forgot you password</div>
         <div style="float:right; font-size: 80%; position: relative; top:-10px">
            <%= link_to "Sign in", sign_in_path %>
        </div>
    </div>

    <div style="padding-top:30px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"><%= devise_error_messages! %></div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="form-group">
                <%= f.label :email, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <%= f.submit "Reset password instructions", class: "btn btn-info" do %>
                        <i class="icon-hand-right"></i>
                    <% end -%>
                </div>
            </div>
        <% end -%>
    </div>
</div>