<div class="form-group">
    <%= form.label :first_name, "First name", class: "col-md-3 control-label" %>
    <div class="col-md-9">
        <%= form.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First name" %>
    </div>
</div>
&nbsp;
<div class="form-group">
    <%= form.label :last_name, "Last name", class: "col-md-3 control-label" %>
    <div class="col-md-9">
        <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
    </div>
</div>
&nbsp;