<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">User profile</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px">
            <%= link_to "Sign out", sign_out_path, method: :delete %>
        </div>
    </div>

    <div style="padding-top:30px" class="panel-body">
        <%= flash_messages %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'form-horizontal', role: 'form') do |form| %>
            <%= render partial: 'form',  locals: {form: form}%>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <%= form.submit "Save", class: "btn btn-info" do %>
                        <i class="icon-hand-right"></i>
                    <% end -%>
                </div>
            </div>

        <% end -%>
    </div>
</div>