<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">User profile</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px">
            <%= link_to "Dashboard", root_path %>
        </div>
    </div>

    <div style="padding-top:30px" class="panel-body">
        <%= flash_messages %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'form-horizontal', role: 'form') do |form| %>
            <%= render partial: 'form',  locals: {form: form}%>
            <div class="form-group">
                <%= form.label :password, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= form.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <%= form.label :password_confirmation, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation" %>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <%= form.label :current_password, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= form.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password" %>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <%= form.submit "Save", class: "btn btn-info" do %>
                        <i class="icon-hand-right"></i>
                    <% end -%>
                </div>
            </div>
        <% end -%>
    </div>
</div>