<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Sign up</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px">
            <%= link_to "Sign in", sign_in_path %>
        </div>
    </div>

    <div style="padding-top:30px" class="panel-body">
        <%= flash_messages  %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal', role: 'form') do |f| %>
            <div class="form-group">
                <%= f.label :email, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <%= f.label :password, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                </div>
            </div>

            <div class="form-group">
                &nbsp;
                <div class="col-md-9">
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, class: "col-md-3 control-label" %>
                <div class="col-md-9">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <%= f.submit "Sign up", class: "btn btn-info" do %>
                        <i class="icon-hand-right"></i>
                    <% end -%>
                </div>
            </div>

        <% end -%>
    </div>
</div>